@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Mulish";

  font-display: swap;
  src: url("../../fonts/mulish-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Mulish";

  font-display: swap;
  src: url("../../fonts/mulish-semibold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Mulish";

  font-display: swap;
  src: url("../../fonts/mulish-extrabold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Mulish";

  font-display: swap;
  src: url("../../fonts/mulish-black.woff2") format("woff2");
}
